.fondo {
    background-color: #FABE92;
  }
  
  .tarjetas {
    width: 30%;
    color: black;
  }
  
  .botones {
    background-color: rgb(139, 139, 139);
  }
  
  ion-content{ --ion-background-color:#FABE92; }
  
  ion-header{
     --ion-background-color:#FA954B; 
    }