.fondo {
    background-color: #2980B9;
  }
  
  .tarjetas {
    width: 30%;
    color: black;
  }
  
  .botones {
    background-color: rgb(139, 139, 139);
  }
  
  ion-content{ --ion-background-color:#D5DBDB; }
  
  ion-header{
     --ion-background-color:#1A5276; 
    }