<ion-header>
  <ion-toolbar>
    <ion-title>detalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Nombre Cliente</ion-label>
    <ion-input ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Fecha prevista reparación</ion-label>
    <ion-input ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Lugar de la reparación</ion-label>
    <ion-input ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Imagenes de la averia</ion-label>
    <ion-input ></ion-input>
  </ion-item>
  <ion-button color="light" (click)="clicBotonInsertar()">
    <ion-icon name="add-circle-outline"></ion-icon>Añadir reparación</ion-button>
  <ion-list > 
    <ion-button color="light" (click)="clicBotonModificar()">
      <ion-icon name="layers-outline"></ion-icon>Modificar reparación</ion-button>
    <ion-button color="light" (click)="clicBotonBorrar()">
      <ion-icon name="trash-outline"></ion-icon>Borrar reparación</ion-button>
  </ion-list>
  <p> Título: {{ document.data.nombre }} </p>
</ion-content>