.fondo {
    background-color: #63a4ff;
  }
  
  .tarjetas {
    width: 30%;
    color: black;
  }
  .imagenes {
    height: 150px;
    width: 200px;
  }
  
  .botones {
    background-color: rgb(139, 139, 139);
  }
  
  ion-content{ --ion-background-color:#63a4ff; }
  
  ion-header{
     --ion-background-color:#3364FF; 
    }

   