.error-message
{
  color: var(--ion-color-danger);
}

.success-message
{
  color: var(--ion-color-success);
}

.go-to-login
{
  text-align: center;
  margin-top: 20px;
}

.submit-btn
{
  margin-top: 40px;
}

ion-content{ --ion-background-color:#63a4ff; }
  
ion-header{
   --ion-background-color:#3364FF; 
}
ion-title {
  color: black;
}
